{% extends 'base.html' %}
{% block title %}Home {% endblock %}
 {% block main %}

  <style>
        .bg-image {
            background-image: url(assetts/img/hero-img.png);
            background-size: cover;
            background-position: center center;
        }
    </style>
<section id="accueil" class="showcase mb-5 py-5 h-100vh" >
  <div class="row g-0">
    <div class="col-lg-6  showcase-img bg-image"><img src="assetts/img/hero-img.png" class="img-fluid rounded w-50" alt="Description"/></div>
    <div class="col-lg-6 my-auto showcase-text text-center small">
        <h2 class="text-success fs-1 fw-bold">Bienvenue sur FABF</h2>
        <p class="lead mb-0 fs-6 ">Nous répondons efficacement aux besoins des forces armées en matière de gestion financière avec notre plateforme spécialisée:
          la solution tout en un pour optimiser vos ressources et soutenir vos missions essentielles</p>
    </div>
  </div>
</section>

 <!-- <section class="features-icons bg-light text-center mb-2 py-5 col-12" >
  <h4 class="text-success">NOS SERVICES
    <hr>
  </h4>
  <div class="container h-100">
      <div class="row justify-content-between align-items-start flex-wrap">
          
              <div class=" col-lg-4 col-md-6 col-sm-12 shadow-lg">
                  <div class="features-icons-icon d-flex" ><i class="bi bi-currency-dollar m-auto text-success fs-1" ></i></div>
                  <h3> Relevé de salaire</h3>
                  <p class="lead mb-0">Votre relevé de salaire est disponible 24h/24 et7j/7</p>
              </div>
          
          
              <div class=" col-lg-4 col-md-6 col-sm-12 shadow-lg">
                  <div class="features-icons-icon d-flex"><i class="bi bi-file-earmark-plus m-auto text-success fs-1"></i></div>
                  <h3>Enregistrement de demande</h3>
                  <p class="lead mb-0">Nous enregistrerons vos demandes de domiciliation ou de changement d'assignation</p>
              </div>
          
          
              <div class=" col-lg-4 col-md-6 col-sm-12 shadow-lg">
                  <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-success fs-1"></i></div>
                  <h3>Envoi de documents</h3>
                  <p class="lead mb-0">Nous permettons aux agents des structures d'échanger des documents en toute sécurité</p>
              </div>
          
      </div>
  </div>
</section>  -->

<!-- <section class="features-icons bg-light text-center mb-2 py-5">
  <h2 class="text-success">NOS SERVICES</h2>
  <hr>
  <div class="container h-100">
    <div class="row justify-content-between align-items-start flex-wrap">
      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg">
        <div class="features-icons-icon d-flex"><i class="bi bi-currency-dollar m-auto text-success display-1"></i></div>
        <h3>Relevé de salaire</h3>
        <p class="lead mb-0">Votre relevé de salaire est disponible 24h/24 et 7j/7</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg">
        <div class="features-icons-icon d-flex"><i class="bi bi-file-earmark-plus m-auto text-success display-1"></i></div>
        <h3>Enregistrement de demande</h3>
        <p class="lead mb-0">Nous enregistrerons vos demandes de domiciliation ou de changement d'assignation</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg">
        <div class="features-icons-icon d-flex"><i class="bi bi-terminal m-auto text-success display-1"></i></div>
        <h3>Envoi de documents</h3>
        <p class="lead mb-0">Nous permettons aux agents des structures d'échanger des documents en toute sécurité</p>
      </div>
    </div>
  </div>
</section> -->

<section id="services" class="features-icons bg-light text-center mb-2 py-5">
  <h2 class="text-success">NOS SERVICES</h2>
  <hr>
  <div class="container h-100">
    <div class="row justify-content-between align-items-stretch flex-wrap">
      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg d-flex">
        <div class="features-icons-icon m-auto"><i class="bi bi-currency-dollar text-success display-1"></i></div>
        <div class="flex-fill">
          <h3 class="text-success fs-4">Relevé de salaire</h3>
          <p class="lead mb-0 fs-6">Votre relevé de salaire est disponible 24h/24 et 7j/7</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg d-flex">
        <div class="features-icons-icon m-auto"><i class="bi bi-file-earmark-plus text-success display-1"></i></div>
        <div class="flex-fill">
          <h3 class="text-success fs-4">Enregistrement de demandes</h3>
          <p class="lead mb-0 fs-6">Nous enregistrerons vos demandes de domiciliation ou de changement d'assignation</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg d-flex">
        <div class="features-icons-icon m-auto"><i class="bi bi-terminal text-success display-1"></i></div>
        <div class="flex-fill">
          <h3 class="text-success fs-4">Envoi de documents</h3>
          <p class="lead mb-0 fs-6">Nous permettons aux agents des structures d'échanger des documents en toute sécurité</p>
        </div>
      </div>
    </div>
  </div>
</section>




<section id="apropos" class="about bg-light py-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title text-center">
      <h2 class="text-success">A PROPOS</h2>
      <hr class="border-success">
    </div>

    <div class="row fs-4" >
      <div class="col-lg-6">
        <p>
          FABF est une plateforme dédiée à soutenir les forces armées béninoises en leur offrant des services tels que :
        </p>
        <ul class="list-unstyled">
          <li><i class="bi bi-check-all"></i> La consultation de leur relevé de salaire</li>
          <li><i class="bi bi-check-all"></i> L'échange sécurisé de documents administratifs</li>
          <li><i class="bi bi-check-all"></i> La gestion des demandes administratives</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <p>
          Notre objectif est de simplifier les processus et faciliter la communication interne tout en garantissant la sécurité et la confidentialité des informations.
        </p>
        <p>
          Contactez-nous pour en savoir plus sur nos services et comment nous pouvons vous aider dans vos missions.
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-success"><a href="#" class="text-light" style="text-decoration:none;">En savoir plus</a></button>
        </div>
      </div>
    </div>

  </div>
</section>



<section id="contact" class="contact section-bg text-center py-5">
  <div class="container">

    <div class="section-title ">
      <h2 class="text-success">CONTACTEZ-NOUS</h2>
      <hr>
      <p>Nous sommes là pour vous aider, n'hésitez-pas à nous contacter</p>
    </div>

    <div class="row mt-5 justify-content-center">

      <div class="col-lg-10">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-4 info">
              <i class="bi bi-geo-alt text-success"></i>
              <h4>Localisaion:</h4>
              <p>Route de l'Aéroport 01 BP 301<br>Cotonou-Bénin</p>
            </div>

            <div class="col-lg-4 info mt-4 mt-lg-0">
              <i class="bi bi-envelope text-success"></i>
              <h4>Email:</h4>
              <p>info@finances.bj<br>cabinet@finances.bj<br>secretariatgeneral@finances.bj</p>
            </div>

            <div class="col-lg-4 info mt-4 mt-lg-0">
              <i class="bi bi-phone text-success"></i>
              <h4>Appeler:</h4>
              <p>+229 21 30 10 20<br></p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-lg-10">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nom" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="objet" id="objet" placeholder="Objet" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <br />
          <!--<div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div> -->
          <div class="text-center"><button type="submit" class="btn btn-success">ENVOYER</button></div>
        </form>
      </div>

    </div>

  </div>
</section>


 
 {% endblock %}